---
- name: install failover clustering
  win_feature:
    name:
      - Failover-Clustering
      - RSAT-Clustering-Mgmt
      - RSAT-Clustering-PowerShell
    state: present
    include_management_tools: yes
  register: clustering

- name: create cluster on first node
  win_shell: |
    New-Cluster -Name {{ cluster_name }} -Node "chefe.lab.local","client.lab.local" -StaticAddress {{ cluster_ip }} -NoStorage
  args:
    executable: powershell.exe
  when: inventory_hostname == cluster_nodes[0]