---
- name: install failover clustering
  win_feature:
    name:
      - Failover-Clustering
      - RSAT-Clustering-Mgmt
      - RSAT-Clustering-PowerShell
    state: present
    include_management_tools: yes
  register: clustering

- name: create cluster on first node
  win_shell: |
        $ClusterName = "{{ cluster_name }}"
        $ClusterIP   = "{{ cluster_ip }}"
        $Nodes       = "{{ cluster_nodes | join(',') }}"

        Write-Host "Creating cluster $ClusterName with nodes $Nodes and IP $ClusterIP..."
        New-Cluster -Name $ClusterName -Node $Nodes -StaticAddress $ClusterIP -NoStorage -Verbose
  args:
    executable: powershell.exe
  when: inventory_hostname == cluster_nodes[0]