[OPTIONS]
QUIET="True"
IACCEPTSQLSERVERLICENSETERMS="True"
UpdateEnabled=False
USEMICROSOFTUPDATE=False
ACTION="Install"
FEATURES=SQLENGINE
INSTANCENAME="MSSQLSERVER"
SECURITYMODE="SQL"
SAPWD="{{ sa_password }}"
TCPENABLED="1"
SQLSVCACCOUNT="NT AUTHORITY\SYSTEM"
SQLSYSADMINACCOUNTS="BUILTIN\\ADMINISTRATORS"
INSTALLSQLDATADIR="E:\SQLData"
SQLUSERDBDIR="E:\SQLData\Data"
SQLUSERDBLOGDIR="E:\SQLData\Log"
SQLTEMPDBDIR="E:\SQLData\TempDB"
SQLTEMPDBLOGDIR="E:\SQLData\TempDB\Log"
SQLBACKUPDIR="E:\SQLData\Backup"