---
- name: create temp dir
  win_file:
    path: C:\Temp
    state: directory

- name: mount iso
  win_shell: |
    $mount = Mount-DiskImage -ImagePath "{{ sql_iso_path }}" -PassThru
    ($mount | Get-Volume).DriveLetter
  args:
    executable: powershell.exe
  register: mount_result

- name: set mount drive variable
  set_fact:
    sql_mount_drive: "{{ mount_result.stdout | trim }}:"

- name: create directories
  win_file:
    path: "{{ item }}"
    state: directory
  loop:
    - E:\SQLData
    - E:\SQLData\Data
    - E:\SQLData\Log
    - E:\SQLData\TempDB
    - E:\SQLData\TempDB\Log
    - E:\SQLData\Backup

- name: create sql server conf ini
  ansible.builtin.template:
    src: ConfigurationFile.ini.j2
    dest: "{{ sql_config_file }}"

- name: install sql server
  win_command: >
    "{{ sql_setup_exe }}"
    /ConfigurationFile={{ sql_config_file }}
  args:
    creates: 'C:\\Program Files\\Microsoft SQL Server\\MSSQL16.MSSQLSERVER'

- name: eject iso
  win_shell: |
    Dismount-DiskImage -ImagePath "{{ sql_iso_path }}"
  args:
    executable: powershell.exe
  ignore_errors: yes

- name: delete iso
  win_file:
    path: "{{ sql_iso_path }}"
    state: absent